<div class="flex justify-between items-center mb-4">
  <button matButton="filled" routerLink="/products/new">Add Product</button>
  <div class="filters">
    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select [value]="selectedCategory()" (selectionChange)="onCategoryChange($event.value)">
        @for (category of categories(); track category.id) {
        <mat-option [value]="category">
          {{ category.name }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <button matButton color="primary" (click)="resetFilter()">Reset Filter</button>
  </div>
</div>

<table mat-table [dataSource]="products()">
  <ng-container matColumnDef="product">
    <th mat-header-cell *matHeaderCellDef>Product</th>
    <td mat-cell *matCellDef="let product">
      {{ product.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let product">
      {{ product.price | currency : 'PHP' : 'symbol' : '1.2-2' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>Category</th>
    <td mat-cell *matCellDef="let product">
      {{ product.category.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let product">
      <button matButton="filled" [routerLink]="['/products', product.id, 'edit']">Edit</button>
      <button matButton="filled" class="warn-btn" (click)="deleteProduct(product.id)">
        Delete
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
